@import url(http://fonts.googleapis.com/css?family=Open+Sans);
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  margin: 0;
  color: #444;
  font-family: 'Open Sans'; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

p {
  margin-top: 0; }

.main-menu {
  padding: 10px;
  background: #efefef; }
  .main-menu ul {
    padding: 0;
    margin: 0; }
  .main-menu li {
    display: inline-block; }
  .main-menu a {
    color: #444;
    padding: 10px;
    text-decoration: none;
    background: #ccc;
    display: block;
    margin-right: 5px; }
  @media (min-width: 1px) {
    .main-menu {
      position: fixed;
      left: 0;
      top: 0;
      padding: 0;
      height: 100%;
      width: 230px; }
      .main-menu li {
        display: block;
        border-bottom: 2px solid #aaa; }
      .main-menu a {
        margin-right: 0; } }

.mobile-only {
  display: none; }
  @media (min-width: 1px) {
    .mobile-only {
      display: block; } }

.menu-toggle-bar {
  padding: 10px;
  background: #efefef;
  font-size: 0;
  margin: -20px -20px 20px; }

.menu-toggle {
  color: #444;
  padding: 5px 5px;
  text-decoration: none;
  background: #ccc;
  display: block;
  display: inline-block;
  cursor: pointer; }
  .menu-toggle .line {
    display: block;
    background: #aaa;
    height: 3px;
    width: 20px;
    margin: 6px; }

.content {
  background: white;
  padding: 20px;
  flex: 1; }
