[menu-slideout] {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  [menu-slideout].menu-slideout-transition {
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s; }
  [menu-slideout].menu-slideout-open {
    -webkit-transform: translate3d(230px, 0, 0);
    -moz-transform: translate3d(230px, 0, 0);
    -ms-transform: translate3d(230px, 0, 0);
    -o-transform: translate3d(230px, 0, 0);
    transform: translate3d(230px, 0, 0); }
  [menu-slideout].menu-slideout-is-sliding {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
